<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>{% block title %}poker{% endblock %}</h1>
    <table>
      <thead>
        <tr>
          <th>location
          <th>table
          <th>count
        </tr>
      </thead>
      <tbody>
        {% for tables in table_data %}
        <tr>
          <td>tables.location
          <td>tables.table
          <td>tables.count
        </tr>
  </body>
</html>