<!DOCTYPE html>
<html>
  <head>
    <title>Austin Poker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <noscript>please enable javascript in your browser</noscript>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Austin Poker</h1>
      <p>Poker in Austin all in 1 project.</p> 
    </div>
    <p id="hide_active">hide active Tables</p>
    <p id="show_active">Show active tables</p>
    <div data-spy="scroll" class="container-fluid">
      <div class="row">
        <div class="col-9" id="active">
          <h1>Current Tables</h1>
          <table border=1>
            <thead>
              <tr>
                <th>location</th>
                <th>table</th>
                <th>count</th>
              </tr>
            </thead>
            <tbody>
              {% for games in table_data %}
              <tr>
                <td>{{games.location}}
                <td>{{games.table}}
                <td>{{games.count}}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
